@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


 body{
    background: #141414;
    text-decoration: none;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    position: unset;
    margin: 0;
} 

.logo{
    cursor: pointer;
    width:100px;
}


span.flex {
    flex: 1;
}
.space{
    background-color:transparent;
    height: 55px;
}
.inner{
    box-sizing:border-box;
   align-items: center;
   margin-left: 15%;
    
}
.nave{
    margin: auto;
    background-color: transparent;
    display: flex;
    height: 68px;
    color: white;
    overflow: hidden;
    position:fixed;
    top: 0;
    width: 100%;
    transition-property:background-color;
    transition-duration: 0.6s;
    transition-delay: 0.1s;
    z-index: 10;
    box-sizing: border-box;
    padding: 0 30px;

}

#user {
    color: white;
    text-decoration: none;
}

#user > div {
    display: flex;
    color: inherit;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

#user:hover {
    color: gray;
}

#user .avatar {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: white;
    border-radius: 4px;
    border: 1px solid white;
    margin: 0 8px;
    background-image: url(../images/mily.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:0 5px 10px rgb(0, 0, 0);
}

#user.visiteur .avatar {
    background-image: url(../images/user2.jpg);
}
#user.superviseur .avatar {
    background-image: url(../images/user3.jpg);
}
#user.admin .avatar {
    background-image: url(../images/user4.jpg);
}

#user .username {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}



.nav-left{
   display: flex;
   align-items: center;
}
.nav-left img{
    margin-right: 30px;
}
.nav-left a{
   padding: 15px;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   font-size: small;
   color: white;
   transition-property:color;
   transition-duration: 0.6s;
   transition-delay: 0.1s;
}
.nav-left a:hover{
    color: gray;
}
.nav-right{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    
}

.search{
    background: rgba(0, 0, 0, 0.595);
    height: 30px;
    float: right;
    padding: 6px;
    border: 1px solid white;
    margin-top: 8px;
    margin-right: 16px;
    text-align: center;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.nav-right button{
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  color: white;
  background:transparent;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.nav-right button:hover{
    opacity: 0.7;
}

.displaybox{
    height: 600px;
    width: 100%;
    background: #141414;
    background-size: cover;
    bottom: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    left: 0;
    opacity: 1;
    right: 0;
    top: 0;
    transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
    
}
video{
    width: inherit;
}

.box{
    margin: auto;
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    grid-template-rows:250px 250px 250px 250px  ;
    grid-gap: 10px;
    justify-content: center;
    background-color: #141414;
    background: linear-gradient(180deg, rgba(31,28,28,0.8687850140056023) 0%, rgba(20,20,20,1) 100%);
    box-shadow:0 5px 10px rgb(0, 0, 0);
    border-radius: 5px;

}
.box > *{
    margin-top: 4rem;
    border-radius: 6px;
    background-color: transparent;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.994);

   
}
.box > *:hover{
    -ms-transform:scale(2);
    -webkit-transform: scale(2.5); 
     transform: scale(1.5);
}

.box-content{
    text-decoration: none;
}
.descript{
    bottom: 0; 
    background: #141414;
    color: #f1f1f1; 
    width: 290px;
    height: auto;
    transition: .5s ease;
    opacity:0;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    box-shadow:0 5px 10px rgb(0, 0, 0);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.descript button{
    background:white;
    border:2px solid gray;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #141414;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow:0 5px 10px rgba(73, 72, 72, 0.1);
    margin-top: 10px;
}
.descript button:hover{
    background-color: rgba(56, 55, 55, 0.614);
    color: white;
}
.descript h4{
    color: rgb(5, 185, 5);
    
}
.flex-descript{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box > * img{
    display: block;
    width: 100%;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.box-content:hover .descript {
    opacity: 1;
}


.footer{
    background-color: #141414;
    height: 400px;
}
.image img{
    background-color: white;
    border-radius: 55px;
    cursor: pointer;
}

.footercontent{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    border-top: solid #151515;
    flex-basis: content;
    padding-top: 150px;
}

.footerbloc > * a{
    color: gray;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    transition-property:color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
.footerbloc > * a:hover{
    color: white;
    text-decoration: underline;
}

.underfooter{
    height: 20px;
    background-color: #141414;
    color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

/* style of accueil page */

.container{
    margin: auto;
    margin-top: 10rem;
}
.container h1{
    color: #fff;
    font-size: 3.5vw;
    font-weight: unset;
    font-family: system-ui;
    width: 100%;
    text-align: center;
}

 .content-profil{
    width: 60%;
    height: 200px;
    margin: auto;
    background: #141414;
    display: flex;
    align-items: center;
}
 
 .profil{
    max-width: 200px;
    min-width: 84px;
    width: 10vw;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: auto;
    margin-top: 20px;
    color: gray;
    transition-property:color;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
}
.profil:hover{
    color: white;
    
}

 .profil-icon{
     /* background:white; */
     width: 8em;
     height: 8em;
     border-radius: 4px;
     cursor: pointer;
     box-shadow:0 5px 10px rgba(0,0,0,.1);
     align-items: center;
    
 }
.profil-icon:hover{
    border-style: inset;   
}



 .profil-name{
    align-items: center;
    text-align: center;
    
 }
.set-profils{
    max-width: 15%;
    text-align: center;
    margin: auto;
    margin-top: 5em;
    justify-content:  center;
    
}
.set-profils a{
    text-decoration: none;
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    font-size: 1.2vw;;
    letter-spacing: 2px;
    margin: 2em 0 1em;
    padding: 0.5em 1.5em;
}
.set-profils a:hover{
    border: 1px solid white;
    color: white;
}

#user1{
    background-image: url(../images/mily.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#user2{
    background-image: url(/images/user2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#user3{
    background-image: url(/images/user3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
   
}
#user4{
    background-image: url(/images/user4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact{
    width: 700px;
    height: 600px;
    margin: auto;
   background-image: url(../images/contact.jpg);
    opacity: 0.7;
    border-radius: 4px;
    box-shadow:0 5px 10px rgb(0, 0, 0);
    
}
.details {
    margin: auto;
     width: 350px;
     height: 500px;
     background-color: rgba(255, 255, 255, 0.565);
     border-radius: 4px;
     
     
     ;
     
}
.details > *{
    align-items: center;
    text-align: center;
    margin: 40px 20px;
}
